.astronaut-page {
    padding: 36px;
}

.astro-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 12px;
}

.astro-row {
    display: grid;
    grid-template-columns: 160px 160px;
}

.astro-craft {
    font-style: italic;
}